# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# Ignore generated docs
docs/_build
docs/api
.env

# MLflow
mlruns/
mlartifacts/
*.mlflow
mlflow-traces/
.mlflow/
app/mlruns/
app/mlartifacts/
app/mlflow-traces/
app/.mlflow/
